designs/pages/pageTwo.json
[
    {
        "id": "sd_b3gEciL0sxZOOU8h",
        "type": "tab",
        "createdDate": "2024-08-08T20:00:08.975Z",
        "label": "pageTwo",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "pageTwoComponent"
    },
    {
        "id": "sd_Hp2FaRpndCs8TPuv",
        "type": "OnInit",
        "z": "sd_b3gEciL0sxZOOU8h",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_Hp2FaRpndCs8TPuv",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 60,
        "wires": [
            [
                "sd_gNqh1nxNGCeZAdYj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pageTwoComponent"
    },
    {
        "id": "sd_gNqh1nxNGCeZAdYj",
        "type": "PageVariables",
        "z": "sd_b3gEciL0sxZOOU8h",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "result",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_gNqh1nxNGCeZAdYj",
        "category": "Function",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_DcqIVmusiCRihzhq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pageTwoComponent",
        "generated": true
    },
    {
        "id": "sd_BJpEYcERajKdbURj",
        "type": "Script",
        "z": "sd_b3gEciL0sxZOOU8h",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url1 = page.ssdUrl + \"get-all\"\n",
        "functionName": "sd_BJpEYcERajKdbURj",
        "category": "Function",
        "x": 365,
        "y": 60,
        "wires": [
            [
                "sd_onz3qHVcXFgeyifG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pageTwoComponent",
        "generated": true
    },
    {
        "id": "sd_DcqIVmusiCRihzhq",
        "type": "Environment",
        "z": "sd_b3gEciL0sxZOOU8h",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_DcqIVmusiCRihzhq",
        "category": "General",
        "x": 265,
        "y": 60,
        "wires": [
            [
                "sd_BJpEYcERajKdbURj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pageTwoComponent",
        "generated": true
    },
    {
        "id": "sd_onz3qHVcXFgeyifG",
        "type": "HttpRequest",
        "z": "sd_b3gEciL0sxZOOU8h",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url1",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url1"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.body",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_onz3qHVcXFgeyifG",
        "category": "HTTP",
        "x": 465,
        "y": 60,
        "wires": [
            [
                "sd_brdrPcUEZaDLIo6s"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pageTwoComponent",
        "generated": true
    },
    {
        "id": "sd_LjyeviYhzyVLiQBC",
        "type": "PageStart",
        "z": "sd_b3gEciL0sxZOOU8h",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goBack",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "sd_hyFl3vFwrycEgVYv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pageTwoComponent"
    },
    {
        "id": "sd_brdrPcUEZaDLIo6s",
        "type": "Script",
        "z": "sd_b3gEciL0sxZOOU8h",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.result = bh.result",
        "functionName": "sd_brdrPcUEZaDLIo6s",
        "category": "Function",
        "x": 565,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pageTwoComponent",
        "generated": true
    },
    {
        "id": "sd_hyFl3vFwrycEgVYv",
        "type": "UseDependency",
        "z": "sd_b3gEciL0sxZOOU8h",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Location",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "location"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/common",
        "serviceDesignerType": "pages",
        "functionName": "sd_hyFl3vFwrycEgVYv",
        "category": "Function",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "sd_6T3bRYmxqkKynpzK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pageTwoComponent",
        "generated": true
    },
    {
        "id": "sd_6T3bRYmxqkKynpzK",
        "type": "Script",
        "z": "sd_b3gEciL0sxZOOU8h",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.location.back()",
        "functionName": "sd_6T3bRYmxqkKynpzK",
        "category": "Function",
        "x": 340,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pageTwoComponent",
        "generated": true
    }
]
